<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
  <strong>Content:</strong>
  <%= @article.content %>
</p>

<p>
  <strong>本文:</strong>
  <% @posts.each do |post| %>
  <%= post.body %>
  <% end %>
</p>

<%= link_to 'ポスト', new_post_path %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
